.wrapper {
    animation: scroll 100s linear infinite;
    background: url('https://images.unsplash.com/photo-1604076947037-d909e2f10fca?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-color: #111111;
    background-position: center;
    background-size: cover;
    color: #eee;
    height: 100vh;
    min-width: 360px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    overflow: hidden;
    position: relative;
    background-blend-mode:color-dodge;
    
  }
  
  @keyframes scroll {
    0% {
      background-position: 50% 0%;
    }
    100% {
      background-position: 50% 400%;
    }
  }
  
  /* Reduced motion preferences */
  @media (prefers-reduced-motion: reduce) {
    .wrapper {
      animation: scroll 8s linear infinite;
    }
  }
  
  /* Responsive design */
  @media (min-width: 670px) {
    .title {
      font-size: 5rem;
    }
  }
  
  